@font-face {
  font-family: "TTlakes";
  src: url("../font-family/TTLakes-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TTlakesB";
  src: url("../font-family/TTLakes-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "TTlakesM";
  src: url("../font-family/TTLakes-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TTlakesR";
  src: url("../font-family/TTLakes-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}