// src/styles/variables.scss
$color-white: #FFFFFF;
$color-bg: #F8F8F8;
$color-accent: #FF3E79;
$color-text: #7E7E82;
$color-border: #EAEAEA;
$color-divider: #D9FFF5;
$color-black: #1B1C21;

$font-main: "TTlakes", sans-serif;
$font-B: "TTlakesB", sans-serif;
$font-M: "TTlakesM", sans-serif;
$font-R: "TTlakesR", sans-serif;

$font-size-base: 16px;
$font-size-small: 14px;
$font-size-title: 28px;

$border-radius: 6px;
$shadow: 15px 2px 20px rgba(0, 0, 0, 0.3);